.SideMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    background-color: #f0f0f0; /* Example background color */
  }
  
  .ant-menu {
    width: 100%;
  }
  
  .ant-menu-horizontal {
    border: none;
  }
  
  .ant-menu-item {
    width: 15%; /* Adjust as needed */
    text-align: center;
    padding:10px 5px;
  }
  
  .ant-menu-item:hover {
    background-color: #e0e0e0; /* Example hover background color */
  }
  