.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #86abad;
   /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);*/
    width: 100%;
   
  }
  
  .logo {
   max-width: 100px; /* Adjust the width as needed */
    max-height: 50px; /* Adjust the height as needed */
  }
  .fa-react{
    margin-left: .2rem;
    font-size: 1.3rem;
  }
  .NavMenu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    
  }
  .nav-links{
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
    white-space: nowrap;
    padding-left: 20px;
  }
  .nav-links.i{
    padding-right: 10px;
  }
  .nav-links:hover{
    background: rgb(177, 220, 215);
    border-radius: 4px;
    padding: 0.5rem;
    

  }
  .hamburger-icon {
    display: none; /* Initially hide the hamburger icon on larger screens */
    cursor: pointer;
  }
  
  .hamburger-icon i {
    font-size: 24px;
  }
  
  
  @media screen and (max-width: 850px) {
    .NavbarItems{
        z-index: 99;
    }
    .hamburger-icon {
      display: block; /* Show the hamburger icon on small screens */
    }
  
    .NavMenu {
      display: none; /* Initially hide the full navbar contents on small screens */
    }
  
    .NavMenu.show-on-small-screen {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      justify-content: flex-start;
      left: 0%;
      width: 100%;
      height: auto;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      border-radius: 13px;
      padding: 60px 0;
      align-items: center;
      margin: 0;
      z-index: -1;
    }
    .nav-links{
      display: block;
      widows: 100%;
      width: 100%;
      padding: 1rem 0;
      color:#222;
    }
    .nav-links:hover {
        background: rgb(126, 126, 154);
        width: 100%; /* Set the width to 100% to cover the entire NavMenu width */
        padding: 1rem 200px; /* Adjust the padding as needed (equal padding on both sides) */
      }  
    .NavMenu li {
      padding: 0.7rem 1rem;
      display: block;

    }
  }
  